html {
  background-color: #FFFFCB;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.navBarDiv {
  margin-top: 5vh;
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  z-index: 10;
}
.navBarDiv ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.navBarDiv ul a {
  margin: 0 3vw;
  text-decoration: none;
  color: #8F7E4F;
  transition: transform 0.5s;
}
.navBarDiv ul a:hover {
  transform: scale(1.2);
}
.top {
  margin-top: 25vh;
}
.card {
  padding: 10px;
}
