{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me page - HanifProjects.com</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="navBarDiv">
      <ul>
        <a href="/weather"><li><b>Home</b></li></a>
        <a href="/weather/about"><li><b>About Me</b></li></a>
        <a href="/weather/blog"><li><b>Blog</b></li></a>
        <a href="/weather/contact"><li><b>Contact Me</b></li></a>
      </ul>
    </div>
      <pre class="title">Hi There!</pre>
      <p>I am a computer science geek who happens to have time to help others. I also love to write about EARNING MONEY ONLINE.</p>
      <pre class="title title2">Programming isn't Easy</pre>
      <p>It was easy to learn the syntax but to understand certain algos was really hard. I used these to learn </p>
    <div class="row">
    <div class="col s6 m2 l2 push-l2 push-m2">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'img/udemyLogo.png' %}" alt="UDEMY">
        </div>
      </div>
    </div>
    <div class="col s6 m2 l2 push-l2 push-m2">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'img/youtubeLogo.png' %}" alt="Youtube">
        </div>
      </div>
    </div>
    <div class="col s6 m2 l2 push-l2 push-m2">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'img/facebookLogo.png' %}" alt="FaceBook">
        </div>
      </div>
    </div>
    <div class="col s6 m2 l2 push-l2 push-m2">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'img/stackoverflowLogo.png' %}" alt="StackOverFlow">
        </div>
      </div>
    </div>
  </div>
  <pre class="title title3">After Hours of Learning</pre>
  <p>I started understanding it and finally learnt the following languages</p>
  <div class="row">
  <div class="col s12 m3 l2 push-l2">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/nodejsLogo.png' %}" alt="Nodejs">
      </div>
      <div class="card-content">
        <p>It is a js library meant for backend development.<br><b>Fun fact:</b> This whole website is made using nodejs!</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l2 push-l2">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/htmlcssLogo.png' %}" alt="HTML & CSS">
      </div>
      <div class="card-content">
        <p>HTML is meant for content of the webpage and CSS is meant for design and styling etc...</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l2 push-l2">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/jsLogo.png' %}" alt="Javascript">
      </div>
      <div class="card-content">
        <p>It is meant for functionality of HTML elements.<br><b>Fun Fact:</b> HTML, CSS and JS are almost used in all websites nowadays!.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l2 push-l2">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/dialogflowLogo.png' %}" alt="dialogflow">
      </div>
      <div class="card-content">
        <p>This is used to create chatbots which chat with you like real humans. I have made some chatbots for various functions.
        <br><b>Fun Fact:</b> I used nodejs for programming the backend for this!</p>
      </div>
    </div>
  </div>
</div>
<pre class="title title3">Projects!</pre>
<p>By learning those languages, I was able to make these projects with the help of Allah (God)</p>
<div class="row">
<div class="col s12 m3 l2 push-l2">
  <a href="https://youtu.be/YFE3S_O_cUY" target="_blank"><div class="card hoverable">
    <div class="card-image">
      <img src="{% static 'img/youtubechatbotvideoLogo.png' %}" alt="Google sheets to dialogflow">
    </div>
    <div class="card-content">
      <p style="color:#6A0DAD">This is two part tutorial I made and I am really happy that it helped a lot of people! I teach this in my channel <i><b>"Newbie NodejsDev"</b></i></p>
    </div>
  </div></a>
</div>
<div class="col s12 m3 l2 push-l2">
  <a href="https://www.theamaanat.org" target="_blank"><div class="card hoverable">
    <div class="card-image">
      <img src="{% static 'img/theamaanat.png' %}" alt="The Amaanat">
    </div>
    <div class="card-content">
      <p  style="color:#6A0DAD">This is a website I made for a women's trust Go check it out! Donate if you can!</p> <br><p><a href="https://www.theamaanat.org" target="_blank">The Amaanat</a></p>
    </div>
  </div></a>
</div>
<div class="col s12 m3 l2 push-l2">
  <a href="https://cloud.google.com/dialogflow" target="_blank"><div class="card hoverable">
    <div class="card-image">
      <img src="{% static 'img/chatbotCertificate.png' %}" alt="Chatbot Certificate">
    </div>
    <div class="card-content">
      <p  style="color:#6A0DAD">This is the certificate I got for doing a food delivery chatbot in suven company. I made this using dialogflow.</p>
    </div>
  </div></a>
</div>
<div class="col s12 m3 l2 push-l2">
  <a href="https://www.youtube.com/channel/UCZfUuLBtk4ZKIbqDqn4a5tw" target="_blank"><div class="card hoverable">
    <div class="card-image">
      <img src="{% static 'img/weatherWebsite.png' %}" alt="Making Of Weather Website">
    </div>
    <div class="card-content">
      <p  style="color:#6A0DAD">This is a quick montage of how I made the weather forecast part of this website!</p>
    </div>
  </div></a>
</div>
</div>
  </body>
</html>
