{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - HanifProjects.com</title>
    <link rel="stylesheet" href="{% static 'blogMainPage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navBarDiv">
      <ul>
        <a href="/weather"><li><b>Home</b></li></a>
        <a href="/weather/about"><li><b>About Me</b></li></a>
        <a href="/weather/blog"><li><b>Blog</b></li></a>
        <a href="/weather/contact"><li><b>Contact Me</b></li></a>
      </ul>
    </div>
    <div class="row">
    <div class="col s12 m8 l8 push-l2 push-m2 top">
      <a href="/weather/blog/dialogFlowToGoogleSheets" target="_blank"><div class="card hoverable">
        <div class="card-content">
          <p>DialogFlow Chatbot Tutorial: How to connect google sheets with dialogflow using Nodejs! <<--- Click it to view</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li class="footerHeading">Other Pages</li>
      <a href="/blog" target="_blank"><li>Blog</li></a>
      <a href="/privacyPolicy" target="_blank"><li>Privacy Policy</li></a>
      <a href="/termsAndconditions" target="_blank"><li>Terms & Conditions</li></a>
    </ul>
  </div>
  </body>
</html>
