{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>clearskynight</title>
    <link rel="stylesheet" href="{% static 'clearskynight.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/moon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/moon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/moon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/moon/site.webmanifest' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <img class="moon"src="https://media3.giphy.com/media/XHXuzj0384sGbUxykW/giphy.gif?cid=ecf05e47495d6a17a42e72219a510bd19f5fdf4fa45efc8d&rid=giphy.gif">
    <img class="star1" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <img class="star2" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <img class="star3" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <img class="star4" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <img class="star5" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <img class="star6" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <img class="star7" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <img class="star8" src="https://media1.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif?cid=ecf05e471xvo7dqnq1fzc3dbcp834wdpttwom886j426xqsj&rid=giphy.gif">
    <div class="text">
      <h1>The temperature in <span class="city">{{city}}</span> is {{temperature}}<sup>o</sup>C</h1>
      <p>Description: {{des}}</p>
      <img src="https://openweathermap.org/img/wn/{{icon}}@2x.png">
    </div>
    <div class="back">
    <a href="/weather">Back</a>

</div>



  </body>
</html>
