{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>clearskyDay</title>
    <link rel="stylesheet" href="{% static 'clearskyday.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/sun/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/sun/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/sun/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/sun/site.webmanifest' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>

      <!--<img class="plant2"src="https://media4.giphy.com/media/QXgkQG5RHOdPtLq1VT/giphy.gif?cid=ecf05e4753dkaa8zekg62po8apucs3088tuwinda87j2nu6b&rid=giphy.gif"> -->
      <img class="plant2"src="https://media2.giphy.com/media/ifBHjB1veMVVmO2U8M/giphy.gif?cid=ecf05e4753dkaa8zekg62po8apucs3088tuwinda87j2nu6b&rid=giphy.gif">
      <img class="plant1"src="https://media2.giphy.com/media/ifBHjB1veMVVmO2U8M/giphy.gif?cid=ecf05e4753dkaa8zekg62po8apucs3088tuwinda87j2nu6b&rid=giphy.gif">
      <img class="sun"src="https://media2.giphy.com/media/fwR54Wq7dYu9VXKiAF/giphy.gif?cid=ecf05e47vdx6qof12r7pwi4jl9de0m0aju8gvgs62gr4qr8q&rid=giphy.gif">
    <div class="text">
      <h1>The temperature in <span class="city">{{city}}</span> is {{temperature}} <sup>o</sup>C</h1>
      <p class="description">Description: {{des}}</p>
      <img id="img" src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="Weather Photo!">
    </div>

      <img class="grass"src="https://media1.giphy.com/media/d8uK1sPSWwrZaWWcks/giphy.gif?cid=ecf05e4757348w20u0tp69hdyooy86w9e929xrzbyshcf44k&rid=giphy.gif">

    <div class="back">
      <a href="/weather">Back</a>

    </div>
  </body>

</html>
