{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Clouds</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/cloud/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/cloud/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/cloud/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/cloud/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'clouds.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
      <img class="cloud1"src="{% static 'img/cloud.png' %}">
      <img class="cloud2"src="{% static 'img/cloud.png' %}">
      <img class="cloud3"src="{% static 'img/cloud.png' %}">
      <img class="cloud4"src="{% static 'img/cloud.png' %}">
      <img class="cloud5"src="{% static 'img/cloud.png' %}">
    <div class="text">
      <h1>The temperature in <span class="city">{{city}}</span> is {{temperature}}<sup>o</sup>C</h1>
      <p>Description: {{des}}</p>
      <img class="icon"src="https://openweathermap.org/img/wn/{{icon}}@2x.png">
    </div>
    <div class="back">
    <a href="/weather">Back</a>

</div>



  </body>
</html>
