{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="GUeQavb3OH6k7FhsPViSAlARsZE0dFjXhs-vLbTqEd0" />
    <title>Weather Website</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script data-ad-client="ca-pub-7387871153971555" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/weather/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/weather/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/weather/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/weather/site.webmanifest' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navBarDiv">
      <ul>
        <a href="/weather"><li><b>Home</b></li></a>
        <a href="/weather/about"><li><b>About Me</b></li></a>
        <a href="/weather/blog"><li><b>Blog</b></li></a>
        <a href="/weather/contact"><li><b>Contact Me</b></li></a>
      </ul>
    </div>
   <h1>My Weather Website!</h1>
    <form class="text" action="/weather/search/" method="post">
      {% csrf_token %}
      <input type="text" name="CityName" placeholder="Search..">
      <input type="submit" name="CityInput" value="Click here!">
    </form>
   <div class="clearskyday">
      <div class="hideclearskyday">ClearSky</div>
        <img  class="sun" src="https://media0.giphy.com/media/fwR54Wq7dYu9VXKiAF/giphy.gif?cid=ecf05e47fe6fonl43qmb9c51vmyiehqjtfi0a9kmbqmbd7x1&rid=giphy.gif">
        <img  class="plant" src="https://media2.giphy.com/media/ifBHjB1veMVVmO2U8M/giphy.gif?cid=ecf05e4753dkaa8zekg62po8apucs3088tuwinda87j2nu6b&rid=giphy.gif">

    </div>
    <div class="snow">
      <div class="hidesnow">Snow</div>
      <img src="https://media1.giphy.com/media/ifdXESe3oSQrU7y0ov/giphy.gif?cid=ecf05e47gp9zs8qhcsvpdvdrdl1e7d0l8e0eyt25dw1d7m5w&rid=giphy.gif">
    </div>
    <div class="clouds">
      <div class="hidecloud">Clouds</div>
      <img class="cloud1" src="{% static 'img/cloud.png' %}" alt="cloud">
      <img class="cloud2" src="{% static 'img/cloud.png' %}" alt="cloud">
      <img class="cloud3" src="{% static 'img/cloud.png' %}" alt="cloud">
    </div>
    <div class="rain">
      <div class="hide">Rain</div>
      <img src="https://media2.giphy.com/media/13QCrvGE0wwdYIy5P5/giphy.gif" alt="rain">
    </div>
    <div class="thunder">
      <div class="hidethunder">Thunder</div>
      <img src="https://media1.giphy.com/media/fAV73wP5H7xN6/giphy.gif?cid=ecf05e478574e50476a8ca780108626328af8db9d073f12f%26rid=giphy.gif" alt="thunder">
    </div>
  </body>
</html>
