{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rain</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/raindrop/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/raindrop/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/raindrop/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/raindrop/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="text">
      <h1>The temperature in <span class="city">{{city}}</span> is {{temperature}} <sup>o</sup>C</h1>
      <p class="description">Description: {{des}}</p>
      <img id="img" src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="Weather Photo!">
    </div>
      <!--<div class="icon">
      <label for="img">Icon:</label>
      <img id="img" src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="Weather Photo!">
    </div>-->
    <div class="back">
      <a href="/weather">Back</a>

  </div>
  </body>

</html>
