{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Snow</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/snowflake/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/snowflake/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/snowflake/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/snowflake/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'snow.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="text">
      <h1>The temperature in {{city}} is {{temperature}}<sup>o</sup>C</h1>
      <p>Description: {{des}}</p>
      <img src="https://openweathermap.org/img/wn/{{icon}}@2x.png">
    </div>
    <div class="back">
    <a href="/weather">Back</a>

</div>



  </body>
</html>
